* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 25px;
	background: #270339;
	color: #9974AA;
}

.board {
	text-align: center;
}

.create-column {
	margin: 20px;
	width: 200px;
	height: 50px;
	font-size: 25px;
	background: transparent;
	outline: none;
	border: none;
	color: #9974AA;
}

h1 {
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	color: #5A2971;
}

h2 {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	color: #9974AA;
}

.column-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.column {
	min-width: 250px;
}

.card {
	cursor: pointer;
	margin-bottom: 40px;
}

ul, li {
	list-style: none;
}

ul {
	overflow: hidden;
	padding: 25px;
}

ul li p {
	color: #3F1255;
	background: #9974AA;
	display: block;
	height: 250px;
	width: 250px;
	padding: 20px;
	font-family:"Reenie Beanie",arial,sans-serif;
	font-weight: bold;
	font-size: 22px;
	-o-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-o-transition: -o-transform .15s linear;
	-moz-transition: -moz-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}

ul li:nth-child(even) p {
	-o-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	position: relative;
	top: 5px;
}

ul li p:hover, ul li p:focus {
	-o-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

.column button {
	margin: 10px 0;
	height: 20px;
	text-align: center;
	outline: none;
	color: #784A8E;
	background: transparent;
	border: none;
	font-size: 22px;
}

.column .add-card {
	width: 150px;
}

.column .btn-delete {
	width: 20px;
}

.card .btn-delete {
	width: 25px;
	height: 20px;
	text-align: left;
	outline: none;
	color: #5A2971;
	background: transparent;
	border: none;
	font-size: 20px;
}
